/* Media Keyframes */
@keyframes zenMediaBackBounce {
  0% {
    transform: translate(54.799px, 57.743px) rotate(-7deg) translate(-46.27px, -36.445px);
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
  }
  29.41% {
    transform: translate(57.299px, 65.243px) rotate(3deg) translate(-46.27px, -36.445px);
    animation-timing-function: cubic-bezier(0.3, 0, 0.8, 1);
  }
  61.76% {
    transform: translate(56.16px, 47.803px) rotate(-18.58deg) translate(-46.27px, -36.445px);
    animation-timing-function: cubic-bezier(0.16, 0, 0.8, 1);
  }
  79.41% {
    transform: translate(55.25px, 54.3px) rotate(-3.2deg) translate(-46.27px, -36.445px);
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
  }
  100% {
    transform: translate(54.799px, 57.743px) rotate(-7deg) translate(-46.27px, -36.445px);
  }
}

@keyframes zenMediaFrontBounce {
  0% {
    transform: translate(78.827px, 77.737px) rotate(0deg) translate(-46.27px, -36.445px);
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
  }
  29.41% {
    transform: translate(78.827px, 80.737px) rotate(0deg) translate(-46.27px, -36.445px);
    animation-timing-function: cubic-bezier(0.4, 0, 0.64, 1);
  }
  55.88% {
    transform: translate(75.827px, 62.61px) rotate(9.32deg) translate(-46.27px, -36.445px);
    animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  }
  88.24% {
    transform: translate(78.827px, 77.737px) rotate(0deg) translate(-46.27px, -36.445px);
    animation-timing-function: linear;
  }
  100% {
    transform: translate(78.827px, 77.737px) rotate(0deg) translate(-46.27px, -36.445px);
  }
}

@keyframes zenMediaSunBounce {
  0% {
    transform: translate(64.76px, 67.886px) translate(-9.914px, -9.984px);
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 1);
  }
  29.41% {
    transform: translate(64.76px, 73.606px) translate(-9.914px, -9.984px);
    animation-timing-function: linear; 
  }
  35.29% {
    transform: translate(64.76px, 73.606px) translate(-9.914px, -9.984px);
    animation-timing-function: cubic-bezier(0.35, 0, 0.76, 0.72);
  }
  55.88% {
    transform: translate(61.737px, 51.974px) translate(-9.914px, -9.984px);
    animation-timing-function: cubic-bezier(0.21, -0.71, 0.45, 1);
  }
  100% {
    transform: translate(64.76px, 67.886px) translate(-9.914px, -9.984px);
  }
}

/* Use something like this when the button is active */
.zen-media-back-card {
  animation: zenMediaBackBounce 0.583s forwards;
}
.zen-media-front-card {
  animation: zenMediaFrontBounce 0.583s forwards;
}
.zen-media-sun {
  animation: zenMediaSunBounce 0.583s forwards;
}

/* Set solid and gradient fill opacities when button is active */
.zen-media-bg {
  fill-opacity: 1 !important;
}

.zen-media-gradient {
  fill-opacity: 0.1 !important;
}